#building{
    -fx-background-color: #ecffee;
    -fx-border-radius: 20px;
    -fx-border-width: 6px;
    -fx-background-radius: 25px;
    -fx-padding: 3px;
    -fx-border-color: #411e5e;;
}

.button{
    -fx-background-color:#a9520c ;
    -fx-background-radius: 5px;
    -fx-border-radius: 5px;
    -fx-border-width: 5px;
    -fx-border-color: #561c04;
}

