#barracks{
    -fx-background-color: #ecffee;
    -fx-background-radius: 5px;
    -fx-opacity: 0.7;
}
#barracks:hover{
    -fx-opacity: 1;
}
.button{
    -fx-background-color:#A9A9A9 ;
    -fx-background-radius: 5px;
    -fx-opacity: 0.6;
}
.button:hover{
    -fx-opacity: 1;
}
.button:pressed{
    -fx-padding: 10px;
    -fx-background-color: #f0d1ff;
    -fx-background-radius: 10px;
}
#farm{
    -fx-background-color: #ecffee;
    -fx-opacity: 0.7;
}
#farm:hover{
    -fx-opacity: 1;
}